@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Poppins&family=Roboto&display=swap');

body{
    font-family: 'Oxygen', sans-serif;
}
.common-button{
    font-weight: 500;
}
/* header navigation */
.nav-link{
    font-weight: 500;
}
.carousel-caption > h3, .carousel-caption > p{
    color:rgb(255, 255, 255);
}
.package> div{
    width: 300px;
}
.package> div> h3,.package> div> h4 {
    color: #231D4F;
    font-weight: 700;
}
.package>div>p{
    color: #848199;
}
.package>div>p>i{
    color: rgb(209, 209, 209);
}
.highlight .text{
    color: rgb(238, 237, 237);
}
.text .text-icon{
     color: rgb(238, 237, 237);
}
.client-container{
    color:#6C6C6C;
    text-align: center;
}
.service-card{
    height: 150px;
    border-radius: 10px;
}
.service-card .icon{
    padding: 30px;
    width: 100%;
    text-align: center;
    font-size: 50px;
}
